<h1>Welcome to the DePaul Movie Library</h1>

<p>Please select from the following:</p>

<table class="table table-striped table-bordered">
  <tr>
    <th>Listings:</th>
  </tr>
  <tr>
		<td><%= link_to "Manage movies", movies_path %></td>
  </tr>
  <tr>
    <td><%= link_to "Manage actors", actors_path %></td>
  </tr>
  <tr>
		<td><%= link_to "Manage appearances", appearances_path %></td>
  </tr>
</table>