

<script>
  $(function () {
    $("#refresh_button").click(function() {
      $.get("/stories/get_stories", null, function(data) { 
        $("#stories_table").html(data);
      });
    });
  });
</script>

<script src="https://use.typekit.net/pie8lvh.js"></script>

<script>try{Typekit.load({ async: true });}catch(e){}</script>


<h1>New York Times Most Viewed Stories Today</h1>

<button id="refresh_button">Refresh the list of NYT Stories</button>

<div id="stories_table"></div>

<a href="http://developer.nytimes.com"><img src="/../images/nytimes.png"></a>

<h1>Written by Patricia Parker</h1>

